/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
	


/******************************************
		Main
******************************************/

html{
	font-family:'Just Another Hand', cursive;
	letter-spacing:3px;
	
	background:hsl(260,65%,95%);	
}

#container{
	width:100vw;
	max-width:800px;
	height:100vh;
	margin:0 auto;	
	
	position:relative;
}

h1{
	font-size:48px;
	padding:20px;
}

footer{
	position:absolute;
	bottom:0;
	right:0;	
}

footer p{
	padding:20px;
	text-align:right;
}

/******************************************
		Slider
******************************************/

#slider{
	margin:30px auto 0;
	width:500px;
	height:auto;
	background-image:url("../images/plains.png");
	background-size:100% auto;
	text-align:center;
}

/******************************************
		Labels
******************************************/
label{
	display:inline-block;
	width:100px;
	padding:5px 0;
	text-align:center;
	margin:0 15px;
	border:2px solid hsla(101,100%,30%,1.00);
	background:hsla(101,100%,80%,1.00);
	font-size:24px;
	border-radius:10px;
}